.container {
    margin: 24px auto;
    max-width: 1024px;
}

main {
    width: 500px;
    min-height: 400px;
    margin: 48px auto 100px;
}

h2 {
    font-size: 22px;
    margin: 40px 0 10px;
}

h3 {
    font-size: 19px;
    margin: 25px 0 10px;
}

hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

ul {
    font-size: 15px;
    line-height: 1.7em;
    margin: 6px 0;
}

p {
    font-size: 15px;
    margin: 0;
    line-height: 1.45em;
}

.option_code_wrapper {
    background-color: #eeeeee;
    border-radius: 4px;
    padding: 10px 16px;
    display: grid;
    gap: 4px;
    color: #353535 !important;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 25%);
    margin-top: 8px;
}

.option_code_input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 4px;
    background: none;
    font-size: 15px;
    outline: none;
    line-height: 1.5em;
    margin: 2px -4px;
    max-height: 6em;
    min-height: 3em;
    font-family: system-ui, sans-serif;
    resize: none;
}

.option_radio_label:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

input::placeholder,
textarea::placeholder {
    color: #BBBBBB;
}

#save_all {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
}

/*!* TABS CODEPEN STUFF*/
.tabs {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-right: 12px;
    border-radius: 4px;
}

/* Style the buttons inside the tab */
.tabs button {
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px 6px 0;
    border-top: none;
}


.alert{
    padding: 10px 35px 10px 14px;
    background-color: #eee;
    border-radius: 4px;
    margin:10px 0;

}

.alert--error {
    background: #f6ddde;
    border-color:#d4aaac;
    color:#972a3d;
}
